.12h {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
BODY 
{
	SCROLLBAR-FACE-COLOR: #D2e2F3; SCROLLBAR-HIGHLIGHT-COLOR: #a8c5e2; SCROLLBAR-SHADOW-COLOR: #a8c5e2; SCROLLBAR-3DLIGHT-COLOR: #a8c5e2; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #a8c5e2; SCROLLBAR-DARKSHADOW-COLOR: a8c5e2
}
.mNull {  border: #F1C409;border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;cursor:hand}
.mOver {  border-color: #FDF3CC #B69307 #B69307 #FDF3CC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.mDown {  border-color: #B69307 #FDF3CC #FDF3CC #B69307; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.menuBorder {  border-color: #FDF3CC #B69307 #B69307 #FDF3CC; border-style: solid; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px}

.menu_mouseOver{  background-color: #ff6d00; color: white; cursor: hand}
.menu_mouseOut{  color: black}
.login_input {  height: 17px; width: 60px; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-size: 9pt}
.Arraw {color:#FFFFFF; cursor:hand; font-family:Webdings; font-size:9pt}
.12bl 
{
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #152c77;
	text-decoration: none;
	letter-spacing: 0.2em;
	filter: DropShadow(Color=#D9E6FA, OffX=1, OffY=1, Positive=5);
}
.treelbg 
{
	background-position: right top;
}
.12b {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 0.1em;
}
.listbg 
{
	background-repeat: no-repeat;
	background-position: right top;
}
.12green 
{
	font-family: "宋体";
	font-size: 12px;
	color: #334E17;
	text-decoration: none;
}
.14r {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.10int {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #759DCD;
	border-left-color: #759DCD;
	background-color: #F6FAFF;
	filter: Alpha(Opacity=70);
}