img{border:0}

A:LINK, A:VISITED, A:ACTIVE, A:HOVER, A:FOCUS {
	font: normal 10.5pt ו;
	color : black;
	text-decoration : none;
}
.skin0 
{
position:absolute;
text-align:left;
width:200px;
border:2px solid black;
background-color:menu;
font-family:Verdana;
line-height:20px;
cursor:default;
visibility:hidden;
}
.skin1 
{
cursor:default;
font:menutext;
position:absolute;
text-align:left;
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
width:120px;
background-color:menu;
border:1 solid buttonface;
visibility:hidden;
border:2 outset buttonhighlight;
}

.skin2 
{
cursor:default;
font:menutext;
position:absolute;
text-align:left;
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
width:120px;
background-color:menu;
border:1 solid buttonface;
visibility:hidden;
border:2 outset buttonhighlight;
}

.menuitems 
{
padding-left:15px;
padding-right:5px;
}

td 
{  
	font-size: 10.5pt;
}
A:hover{color:red}