A {
	TEXT-DECORATION: none
}


#menuBar {
	 PADDING-RIGHT: 2px;  PADDING-LEFT: 2px; FONT-SIZE: 1pt; PADDING-BOTTOM: 4px;  WIDTH: 80%; COLOR: #31A5D6; PADDING-TOP: 4px;   TEXT-ALIGN: left
}
A.menuButton {
	BORDER-RIGHT: 1px solid #B9DEEC; PADDING-RIGHT: 6px; BORDER-TOP: 1px solid #B9DEEC; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 12px; LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: 1px solid #B9DEEC; CURSOR: default; COLOR: Black; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid #B9DEEC; FONT-STYLE: normal; FONT-FAMILY: ו; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.menuButtonActive {
	BORDER-RIGHT: #B9DEEC 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #B9DEEC 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 12px; LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: 1px solid #B9DEEC; CURSOR: default; COLOR: #31A5D6; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid #B9DEEC; FONT-STYLE: normal; FONT-FAMILY: ו; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.menuButton:hover {
	BORDER-LEFT-COLOR: #E3FBFD; BORDER-BOTTOM-COLOR: #B9DEEC; COLOR: #000000; BORDER-TOP-COLOR: #B9DEEC; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #31A5D6;
		}
A.menuButtonActive {
	BORDER-LEFT-COLOR: #31A5D6; LEFT: 1px; BORDER-BOTTOM-COLOR: #E3FBFD; COLOR: #ffffff; BORDER-TOP-COLOR: #31A5D6; TOP: 1px; BACKGROUND-COLOR: #31A5D6; BORDER-RIGHT-COLOR: #E3FBFD;
}

A.menuButtonActive:hover {
	BORDER-LEFT-COLOR: #31A5D6; LEFT: 1px; BORDER-BOTTOM-COLOR: #B9DEEC; COLOR: Black; BORDER-TOP-COLOR: #31A5D6; TOP: 1px; BACKGROUND-COLOR: #31A5D6; BORDER-RIGHT-COLOR: #B9DEEC;
}
.menu {
	BORDER-RIGHT: #808080 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f0f0f0 2px solid; PADDING-LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: 2px solid #B9DEEC; PADDING-TOP: 0px; BORDER-BOTTOM: #808080 2px solid; POSITION: absolute; BACKGROUND-COLOR: #B9DEEC; TEXT-ALIGN: left
}
A.menuItem {
	PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 0px; CURSOR: default; COLOR: #000000; PADDING-TOP: 2px; FONT-STYLE: normal; FONT-FAMILY: ו; WHITE-SPACE: nowrap; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.menuItem:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #31A5D6;
}
.menuItemSep {
	BORDER-TOP: #808080 1px solid; MARGIN: 3px 4px; BORDER-BOTTOM: 1px solid #B9DEEC;
}