img{border:0}
body{ font-size: 9pt; font-family:"Verdana", "Arial", "宋体"; } 

td{font-family: "宋体"; font-size: 9pt}

p{font-family: "宋体"; font-size: 9pt} 

li{font-size:9pt;}

BigFont{ font-size:11pt;}

select.smallselsect{font-size:9pt; color:rgb(0,0,128) ;} 

INPUT.smallInput { BACKGROUND-COLOR: white; COLOR: #000080; FONT-FAMILY: "Verdana", 
  "Arial", "Helvetica", "sans-serif", "宋体"; FONT-SIZE: 9pt } 
  
TEXTAREA.smallarea { BACKGROUND-COLOR: white; COLOR: #000080; FONT-FAMILY: 
  "Verdana", "Arial", "Helvetica", "sans-serif", "宋体"; FONT-SIZE: 9pt }
  
SELECT.smallSel { BACKGROUND-COLOR: white; COLOR: #000080; FONT-FAMILY: "宋体"; 
  FONT-SIZE: 9pt } 
  
INPUT.buttonface { BACKGROUND-COLOR: #0099cc; COLOR: #ffffff; FONT-FAMILY: 
  "宋体"; FONT-SIZE: 9pt; FONT-WEIGHT: bold }
  
INPUT.dialogbutton { BACKGROUND-COLOR: #d2e9ff; COLOR: #000080; CURSOR: hand; 
  FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif", "宋体"; FONT-SIZE: 
  9pt } 
  
A{text-decoration:none;color:#000000; font-size:9pt} 
A.link {color:#000000;}
A.visited {color:#000000;}
A.active {color:#000000;TEXT-DECORATION: underline; font-size:9pt}
A:hover {COLOR: #000000; TEXT-DECORATION: underline; font-size:9pt}


A.02:link {color:#ffffff;}
A.02:visited {color:#cccccc;}
A.02:active {color:#cccccc;TEXT-DECORATION: underline; font-size:9pt}
A.02:hover {color:#cccccc;TEXT-DECORATION: underline; font-size:9pt}


TD.cls3 { BORDER-BOTTOM: #FFB811 2px solid; font-size:9pt } 


.TextBorder { BORDER-BOTTOM: rgb(66,66,99) 1px solid; BORDER-LEFT: rgb(66,66,99) 
  1px solid; BORDER-RIGHT: rgb(66,66,99) 1px solid; BORDER-TOP: rgb(66,66,99) 
  1px solid; FONT-SIZE: 9pt } 
  
.mf { FONT-FAMILY: "宋体"; FONT-SIZE: 14px } .mfs { FONT-SIZE: 14px } 

.sf { FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; LINE-HEIGHT: 11pt } 

.sfs { FONT-FAMILY: "宋体"; FONT-SIZE: 9pt } 

.sfr { COLOR: #ff0000; FONT-SIZE: 9pt } 

.mFc { COLOR: #0000a0; FONT-FAMILY: "宋体"; FONT-SIZE: 14px } 

.sFc { COLOR: #0000a0; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt } 

.ef { COLOR: #0000a0; FONT-FAMILY: "宋体" }

.efc { COLOR: #aaaaaa; FONT-FAMILY: "宋体" } 
 
.white2 { COLOR: #ffffff; FONT-FAMILY: 黑体; FONT-SIZE: 12pt; TEXT-DECORATION: none } 

.white1 { COLOR: #ffffff; FONT-SIZE: 9pt; LINE-HEIGHT: 180%; TEXT-DECORATION: none } 

.black1 { COLOR: #000000; FONT-SIZE: 9pt; LINE-HEIGHT: 120%; TEXT-DECORATION: none } 

.black2 { COLOR: #000000; FONT-SIZE: 11pt; LINE-HEIGHT: 22px; TEXT-DECORATION: none } 

.blue1 { COLOR: #0000ff; FONT-SIZE: 9pt; LINE-HEIGHT: 180% } 

.blue2 { COLOR: #0000ff; FONT-FAMILY: 宋体; FONT-SIZE: 12pt; TEXT-DECORATION: none } 

.black3 { COLOR: #000000; FONT-FAMILY: 黑体; FONT-SIZE: 9pt; FONT-WEIGHT: bold } 

.black4 { COLOR: #000000; FONT-SIZE: 16pt; FONT-WEIGHT: bold } 

.red1 { COLOR: red; FONT-SIZE: 9pt; LINE-HEIGHT: 180%; TEXT-DECORATION: none } 

.red2 { COLOR: red; FONT-SIZE: 12pt; LINE-HEIGHT: 180%; TEXT-DECORATION: none } 

.green1 { COLOR: #006666; FONT-SIZE: 9pt; LINE-HEIGHT: 20px; TEXT-DECORATION: none } 

.navy9 { COLOR: #330066; FONT-SIZE: 9pt; LINE-HEIGHT: 120%; TEXT-DECORATION: none } 

.white9 { COLOR: #ffffff; FONT-SIZE: 9pt; LINE-HEIGHT: normal; TEXT-DECORATION: none } 

.inp { font-size: 9pt; background-color: #f1f1f0; border-color: #BFBFFF #bfbfff #bfbfff; 
      border-style: solid; border-top-width: 1px; border-right-width: 
      1px; border-bottom-width: 1px; border-left-width: 1px} 
  
.whiteb9 { COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bold } 

.link { TEXT-DECORATION: none;}

 A: link { COLOR: #3366cc } 
 P { FONT-SIZE: 9pt; LINE-HEIGHT: 11pt } 
 LI { FONT-SIZE: 9pt  } 
 UL { FONT-SIZE: 9pt; LINE-HEIGHT: 15pt }


.s02 {border-left:1 ridge #ffffff;border-top:1 ridge #ffffff;border-bottom:1;border-right:1;border-style:ridge;background-color:#cccccc}

