*{
 font-family: "微软雅黑",Microsoft YaHei,'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
	background-color: #e6f2f0;
	font-family: "微软雅黑" sans-serif;
/*	padding:10px;*/
}
/*
#accordion{
	padding:15px 15px;
	width:900px;
	background-color: #ffffff;
	float:right;
	margin-top: 20px;
	border-radius:5px;
}*/
h4{
	font-size:17px;
	font-weight:bolder;
}
h5{
	font-size:16px;
	margin:0;
	font-weight:bolder;
	padding-top:12px;
	padding-bottom:10px;
}
h6{
	font-size:15px;
	font-weight:bolder;
}
p{
	 font-size:14px;
	 text-indent:2em;
	 font-family:'微软雅黑' sans-serif;
	line-height:21px;
}
p ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.header{
	width: 1200px; height: 40px; margin: auto;
}

.header img{
	width:320px;border:0;float:left;
}

ul li{
	list-style-type:none;
	margin:0;
	padding:0;
}
ul li p{
	text-indent:20px;
}
.wtlb{
	padding:10px;
}
#collapse_1 a:hover{
	background-color:#efefef;
}
#collapse_2 a:hover{
	background-color:#efefef;
}
#collapse_3 a:hover{
	background-color:#efefef;
}
#collapse_4 a:hover{
	background-color:#efefef;
}
#collapse_5 a:hover{
	background-color:#efefef;
}
#collapse_6 a:hover{
	background-color:#efefef;
}
.three{
	display:block;
	margin-top:15px;
	font-size:15px;
}
.three li{
	display:block;
	padding:20px;
}
a:hover{
	text-decoration:none;
	color:black;
}
img{
	display:block;
	margin:0 auto;
	border:1px solid gainsboro;
	padding:5px;
	display:block;
	margin:0 auto;
}
.mycolor{color: #ffffff;background-color: #3498db;}
.clear{clear: both;}

