*{
 font-family: "微软雅黑",Microsoft YaHei,'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar .navbar-bg-color{
	background-color: #3498db;
}
.navbar .navbar-bg-color ul li ul li a{ 
	color: #3498db ;
}
.mycolor{color: #ffffff;background-color: #3498db ;}
.my_color{color:#3498db ;overflow:hidden}
.mycolor_bor{color: #ffffff;background-color: #3498db ;border:1px solid #eeeeee;}
.navbar .navbar-bg-color ul li ul li a:hover{ 
	color: #ffffff;
}
.dropdown-menu li a:hover{
	text-decoration: none;
    background-color: #3498db ;
    background-image:none;
}
.w_caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid #eeeeee;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.navbar .navbar-bg-color ul li a{ 
	color: #ffffff;
}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 ,p{ font-family: Microsoft YaHei,'微软雅黑' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
.in_im{width: 60px; height:60px;padding-top:10px;}
.font_15_in_80{font-size:15px;line-height: 80px;font-weight: bold;}
.cursor{cursor:pointer;}
.height80{height:80px}
/** 鐧诲綍妗嗚儗鏅彉榛� **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
/** 姒傝椤佃缃� **/
.label { /*,.table,.btn*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
label.checkbox {
	width: 46px;
}

ol.long label.checkbox {
	min-width: 90px;
}

.p-inline {
	display: inline-block;
	color: #999;
	font-family: "微软雅黑", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	padding-left: 5px;
	vertical-align: middle;
	min-width: 220px;
	clear: both;
}

.p-inline a {
	display: inline-block;
	margin: 0 5px;
}

.table_10{
	width:5%;text-align:left;border: 2px solid #ffffff;background-color: #3498db ;color:#ffffff;
}
.table_40{
	width:45%;text-align:left;border: 2px solid #ffffff;background-color: #ffffff;
}
.table_15{
	width:15%;text-align: left;border: 2px solid #ffffff;background-color: #3498db ;color:#ffffff;
}
.table_35{
	width:35%;text-align: left;border: 2px solid #ffffff;background-color: #e6f2f0;
}
/** 鎸夐挳璁剧疆boot3 **/
.muted{
	color:#555555;
	
}
/** 103涓浗瀹舵牱寮忚璁� **/
#ouzhou label,#yazhou label,#feizhou label,#meizhou label,#dayangzhou label{
    min-width:160px;
    float:left;
}
#ouzhou,#yazhou,#feizhou,#meizhou,#dayangzhou{
    padding-left:20px;
}
.t_well{
	font-weight:bold;background-color: #3498db ;border-color:#3498db ;color:#fff;padding:8px;font-size:13px;text-align: center;
}
.t_mti{
	display:block;font-size:14px; padding-left:8px; color: #fff; padding-top: 7.5px; padding-bottom: 7.5px; background-color: #bbb;margin-bottom: 1px;
}
.t_mti_div{
	padding-left: 10px; color: #666; padding-top: 6px; background-color: #fff;margin-bottom: 1px;
}
.t_mti_div_label{
	width:195px;font-size:13px;overflow: hidden;
}
.imgbox img{
	width:200px;margin-top:8px; 
	}
