@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
#div1,#div2,#div3,#div4{width:1000px; margin:0 auto;}

body {font-family:"Microsoft YaHei";min-width:1000px;font-size: 12px; background-color:#e8e8e8; color:#666666;line-height:18px; margin:0;}
img{border:0;text-decoration:none;}
a {display:block; line-height:18px; text-decoration:none; color:#555; font-family:"微软雅黑"; font-size:12px; float:left;}
a:hover {text-decoration:underline;color:#0170d9;}
a:active{text-decoration:underline;}

.clear{clear:both;}

#top,#di{overflow:hidden; }
#top{ width:100%; height:87px; background-color:#0489cc;  background-repeat:repeat;}
#div1{ height:87px; text-align:center;}
#div22{width:100%; height:415px; background:url(bj01.jpg) center bottom no-repeat; margin-top:-1px; background-color:#fff;}
#div2{position:relative;}
#denglu{ width:335px; height:480px; margin:0 auto;}
#dldiv{width:263px; height:397px; font: 16px/180% "微软雅黑"; color:#646464; }
#dldiv table{ width:100%; margin-top:55px;font: 12px/180% "微软雅黑"; color:#767676;}
.biaodan{ font-family:Microsoft yahei; font-size:14px; color:#888888;}
.wz{font: Microsoft yahei; font-size:18px;  color:#34495e; text-align:center; padding-top:50px;}
.bja{width:360px; height:53px; background:url(09.png) no-repeat; line-height:53px; background-repeat:no-repeat;}
.wz02{ font-size:12px;font: Microsoft yahei; color:#b3b8bc; text-align:center; padding-top:10px;}
.bjb{width:360px; height:53px; background:url(10.png) no-repeat;line-height:53px; background-repeat:no-repeat;}
.NoneInput{
	padding-left:51px;
    width:239px;
	height:31px;
	margin:5px 0 0 4px;
	line-height:31px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
	background:none;
}
.NoneInput:focus{
	outline: none;
}
 #sex_male ,  
 #sex_female 
 {  
  display:none  
 }
 label  
 {  
  display:-moz-inline-block;  
  display:inline-block;  
  cursor:pointer;  
  margin:5px 0;  
  padding-left:20px;  
  line-height:15px;  
  background:url(11.png) no-repeat left top;  
 }  
 label.checked  
 {  
  background-position:left bottom;  
 }


.ButtonCSS {
    font: 14px/180% "微软雅黑";
	font-weight:bold;
	border:none;
    color:#fff;
    background-image:url(07.png);
    CURSOR: hand;
    font-style: normal ;
    width:124px;
    height:40px;
	margin-top:19px;
	margin-left:70px;
	padding-left:44px;padding-right:44px;
}
.ButtonCSSb {
    font: 14px/180% "微软雅黑";
	font-weight:bold;
	border:none;
    color:#fff;
    background-image:url(abc.png);
    CURSOR: hand;
    font-style: normal ;
    width:74px;
    height:38px;
	margin-top:19px;
}

/*焦点图片特效样式开始*/
 #FocusBG{width:619px;height:459px;}
.fullSlide {
	width:619px;
	position:relative;
	height:459px;
}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
	height:490px;
}
.fullSlide .bd ul {
	width:619px !important;
}
.fullSlide .bd li {
	width:600px !important;
	height:522px;
	overflow:hidden;
	text-align:center;
}
.fullSlide .bd li a {
	display:block;
	height:459px;
}
.fullSlide .hd {
	width:1000px;
	position:absolute;
	z-index:1;
	bottom:-23px;
	left:-2px;
	overflow:hidden;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul {
	width:2000px;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	margin:5px 466px 5px 0;
	width:22px;
	height:22px;
	overflow:hidden;
	background:url("grey.png") no-repeat 2px 2px;
	filter:alpha(opacity=90);
	opacity:0.9;
	line-height:992px;
}
.fullSlide .hd ul .on {
	background:url("darkblue.png") no-repeat 2px 2px;
}

/*焦点图片特效样式结束*/

#div3{ height:73px; font:12px/180% "宋体"; color:#7e79a7; margin:0 auto; width:800px; }
#div3 a{  font:12px/180% "宋体"; color:#7e79a7;}
#div3 img{ margin-right:5px; float:left}
#div3 table{ width:715px; margin:35px auto;}
#div3a{ width:323px; height:68px; margin-top:37px; margin-right:70px; float:left;margin-left:15px;}
#div3a a{ float:left }
#div3b{ width:226px; height:68px; margin-top:37px; float:left;margin-right:60px;}
#div3b a{font:17px/180% "微软雅黑"; color:#aaaaaa; line-height:68px; float:left}
#div3c{ width:302px; height:68px; margin-top:37px; line-height:68px; float:right;}
#di{ width:100%; background-color:#1d1d1d;}
#div4{ height:41px; font:12px/100% "simsun"; color:#7e79a7; line-height:41px; margin:0 auto; width:100%; color:#fff; text-align:center;}
#div4a,#div4b{ margin-top:19px; float:left}
#div4a{width:392px;margin-left:22px;}
#div4b{width:290px;}
#div4c{ margin-top:19px; float:right;margin-right:15px;}


.links_gsf{ width:100%;  background-color:#0489cc; height:368px;}
.pic_btn{ margin: 0 auto; width: 921px; padding-top: 20px; height: 89px;}
.pic_btn_con{ margin-right: 20px; width: 207px; float: left; height: 89px;}
.links_con{ width:1000px; height:40px; margin:0px auto; line-height:40px; color:#fff; font:12px "simsun"; }
.links_con a{ color:#fff;font:12px "simsun";}
.links_con table td{}

.top01{ height:14px; width:100%; background-color:#373737;}