body{font-size:12px;background:#12732c;margin:0px auto;color:#fff;padding-top:0px;}
div,h1,h2,h3,h4,span,p,strong,ul,li,img,form{margin:0px;padding:0px;}
li{list-style:none;}
a{text-decoration:none;color:#696868;}
a:hover{text-decoration:underline;color:#fbfd7c;}
img{border:0px;}
.clear{clear:both;font-size:0px;}


.c_n{width:980px;margin:0px auto;padding-top:20px;}
.pa{float:left;}
.pa img{display:block;float:left;}
.aca{background:url(../images/cpic04.jpg) no-repeat left top;height:329px;width:980px;float:left;}
.pb{float:left;padding-top:0px;padding-left:70px;width:910Px;}
.pb li{float:left;font-size:14px;font-weight:bold;padding-top:0px; padding-left:10px;}
.pb li a{color:#fff;text-decoration:underline;}
.pb a:hover{ color:#fbfd7c; text-align:center; text-decoration:underline}
.pb li input{width:175px;margin-right:15px;}
.pbwd{padding-top:0px;}

.bb{ width:500px; height:110px; margin:0px auto;padding-top:50px; }
.bs {
	width: 80px;
	text-align:center;
	padding-top:10px;
	padding-left:35px;
	float:left; }
.bs a hover{ color:#fbfd7c; text-align:center; text-decoration:underline}

.bltd:link,.bltd:visited {
	height: 50px;
	padding: 3px;
	text-decoration:none;
	line-height: 26px;
	font-size:14px;
	font-weight:bold;
}


.sj { width:500px; height:30px; margin:0px auto;padding-top:30px; font-size:14px; color:#FFF; text-align:center }
.sj a{ color:#FFF; text-align:center; text-decoration:underline}
.sj a:hover{ color:#fbfd7c; text-align:center; text-decoration:underline}
.lk{float:left; padding:0px 0px 0px 280px;}
.lk a{float:left;width:280px;height:50px;background:#;}
.lk2{float:left;padding:0px 0px 0px 20px;}
.lk2 a{float:left;width:150px;height:50px;background:#;}
.jg{float:left;padding-top:40px;}
.jg a{float:left; background:;}
