/*
  Copyright 2009-2010 www.cnipr.com. All Rights Reserved.
  Qq :  
  Msn :	cnipr@hotmail.com	
  Email :	cnipr@gmail.com
  Author : yinxu
  Http : www.cnipr.com
*/
 
@import url(style-warn.css);
@import url(inmenu.css);
body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	margin: 0px; 
	background-color: #f1f6fc;
	padding: 0px;
	 
}
.bannerTable{
	width:97%;
	height:45px;
}