a.link_blue:link{text-decoration:none;color:  #000066} 
a.link_blue:visited{text-decoration:none;color: #000066}
a.link_blue:active{text-decoration:underline;color: #000066;outline: none;}	
a.link_blue:hover{text-decoration:underline;color: #000066}

.navil a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 33px;
	font-weight: bold;
	font-variant: normal;
	color:#CCE3FE;
	text-decoration: none;
	letter-spacing: 2px;
	display: block;
	margin: 0px;
	padding: 0px;
	line-height: 33px;
}
.navil a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 33px;
	font-weight: bold;
	font-variant: normal;
	color:#CCE3FE;
	text-decoration: none;
	letter-spacing: 2px;
	display: block;
	margin: 0px;
	padding: 0px;
	line-height: 33px;
}
.navil a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color:#314457;
	text-decoration: none;
	letter-spacing: 2px;
	display: block;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/menu_tab.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 108px;
	line-height: 33px;

}

.menudq {
	background-image: url(../images/menu_tab.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: 314457;
	text-decoration: none;

}

.menu a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	line-height: 44px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 33px;
	width: 108px;
	margin: 0px;
	padding: 0px;

}
.menu a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	line-height: 44px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 33px;
	width: 108px;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/menu_tab.gif);
	background-repeat: no-repeat;
	background-position: center center;

}
.menu a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	line-height: 44px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 33px;
	width: 108px;
	margin: 0px;
	padding: 0px;

}

.menu1 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	background-image: url(../images/menu_tab.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: center;
	display: block;
	width: 108px;
	line-height: 35px;
	padding-top: 0px;
	height: 35px;
	vertical-align: bottom;
}


.menu2 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000066;
	text-decoration: none;
	
	text-align: center;
	display: block;
	width: 108px;
	line-height: 35px;
	padding-top: 0px;
	height: 35px;
	vertical-align: bottom;
}
.menu2 a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 35px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;   

}

.menu2 a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 35px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none; 
}

.menu2 a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 35px;
	font-weight: bold;
	color: #000066;
	text-decoration: none; 

}
