
.headImage{
	 
	height:68px;
}
.bannerLine{
	background-color:#1164ad;
}
.simpleWarnFirstTR{  
	text-decoration: none;
	height:30px;
	padding : 10px; 
	font-weight:bold; 
	background-color:#c7e3f7;
	text-align: left;
	}
.simpleWarnTR0{
	height:25px;
	background-color:#FFFFFF;
	text-align:left;
}
.simpleWarnTR1{
	height:25px;
	background-color:#f1f9ff;
	text-align:left;
}
.simpleWarnTD{
	 padding: 5px;
	 text-align:center;
}






.green a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	line-height: 18px;

}
.green a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	line-height: 18px;

}
.green a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #009900;
	text-decoration: underline;
	line-height: 18px;

}
  

  
.orangel{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #993300;
	text-decoration: none;
	line-height: 18px;

}
.orangel a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #993300;
	text-decoration: none;
	line-height: 18px;

}
.orangel a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #993300;
	text-decoration: none;
	line-height: 18px;

}
.orangel a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #993300;
	text-decoration: underline;
	line-height: 18px;

}



.white {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.redl{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #993300;
	text-decoration: none;
	line-height: 18px;

}
.redl a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #993300;
	text-decoration: none;
	line-height: 18px;

}
.redl a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #993300;
	text-decoration: none;
	line-height: 18px;

}
.redl a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #6666FF;
	text-decoration: underline;
	line-height: 18px;

}

.STYLE3 {
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	color: #CD5506;
	text-decoration: none;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
}
.STYLE3 a.hover{
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	color: 6666FF;
	text-decoration: none;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
}
.gray {
	font-family: "����";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: 626262;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 3px;


}
.grayb {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color:#9C9C9C;
	text-decoration: none;
	padding-left: 5px;

}
.input {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #6699CC;
	text-decoration: none;
	width: 180px;
}
.border {
	border: 1px solid C3D2DC;
}
.select {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	border: 1px solid #6699CC;
	line-height: normal;
	background-color: #FFFFFF;
	width: auto;
}
.collapse{
	border-collapse: collapse;
}

.blueb a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #0099CC;
	text-decoration: none;
}
.blueb a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #0099CC;
	text-decoration: none;
}
.blueb a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FF6600;
	text-decoration: underline;
}

.orange {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	color: CD5506;
	text-decoration: none;
}

.topbg {
	hack(_background-attachment:fixed);
	background-image:  url(../../%D0%D0%D2%B5%CA%FD%BE%DD%BF%E2/web/images/table_topbg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
.note {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #333399;
	text-decoration: none;
}
.title {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #0F509B;
	text-decoration: none;
	padding-left: 10px;
}
.title1 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0F509B;
	text-decoration: none;
	line-height: 18px;
font-weight: bold;
}
.title1 a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0F509B;
	text-decoration: none;
	line-height: 18px;
font-weight: bold;
}
.title1 a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0F509B;
	text-decoration: none;
	line-height: 18px;
font-weight: bold;
}
.title1 a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FF9966;
	text-decoration: underline;
	line-height: 18px;
font-weight: bold;
}
.bluel a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0099CC;
	text-decoration: none;
	line-height: 18px;

}
.bluel a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0099CC;
	text-decoration: none;
	line-height: 18px;

}
.bluel a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FF6600;
	text-decoration: underline;
	line-height: 18px;

}
.bottomtxt {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: #74878F;
	text-decoration: none;
}
