.white {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.navi a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/button_blue.gif);
	line-height: 27px;
	display: block;
	left: 20px;
	top: 8px;
	bottom: 8px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: center center;


}

.navi a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/button_blue.gif);
	background-repeat: no-repeat;
	background-position: center center;
	line-height: 27px;
	left: 20px;
	top: 8px;
	bottom: 8px;
	display: block;
	padding-left: 20px;


}
.navi a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFCC;
	text-decoration: none;
	background-image: url(images/button_orange.gif);
	height: 27px;
	width: 150px;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	line-height: 27px;
	left: 20px;
	top: 8px;
	bottom: 8px;
	padding-left: 20px;

}
.naviy {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 27px;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFCC;
	text-decoration: none;
	padding-left: 20px;
	background-image: url(images/button_orange.gif);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;



}
.leftbg {
	background-color: EDF6FE;
	background-image: url(images/left_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.bluel a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0099CC;
	text-decoration: none;
	line-height: 18px;

}
.bluel a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #0099CC;
	text-decoration: none;
	line-height: 18px;

}
.bluel a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FF6600;
	text-decoration: underline;
	line-height: 18px;

}
.rightangle {
	background-image: url(images/right_angle.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.gray {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	font-weight: normal;
	color: 626262;
	text-decoration: none;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;


}
.grayb {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color:#9C9C9C;
	text-decoration: none;
	padding-left: 5px;

}
.input {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #6699CC;
	text-decoration: none;
	width: 180px;
}
.border {
	border: 1px solid C3D2DC;
}
.select {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	border: 1px solid #6699CC;
	line-height: normal;
	background-color: #FFFFFF;
	width: auto;
}
table.collapse{
	border-collapse: collapse;
}

.indexbg {
	background-image: url(images/index_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.blueb a:link{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #0099CC;
	text-decoration: none;
}
.blueb a:visited{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #0099CC;
	text-decoration: none;
}
.blueb a:hover{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FF6600;
	text-decoration: underline;
}.indexbgyellow {
	background-color: FFFFF0;
	border: 3px solid EDF6FE;
}
.orange {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	color: CD5506;
	text-decoration: none;
}
.searchborder {
	background-color: EFF2FF;
	border: 1px dotted A5C1DD;
}
.righttitle {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
