body{font-family:"Microsoft Yahei","Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif"}
.site-header{position:relative;text-align:center;background-color:#3498db;color:#fff;margin-bottom:0}
.site-header .input-group{position:relative;}

.font-size12{font-size:12px ;}
/** 手机版footer **/
.footer{height: 44px;}
.footer .nav-fixed {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 44px;
    width: 100%;
    background: #eee;
    list-style: none;
    border-top: 1px solid #bbb;
    margin: 0;
    padding: 0;
}

.footer .nav-fixed li {
    width: 25%;
    float: left;
}

.footer .nav-fixed li a {
    width: 100%;
    display: inline-block;
    height: 55px;
    cursor: pointer;
}

.footer .nav-fixed li a i {
    height: 20px;
    width: 20px;
    display: block;
    margin: 5px auto 0;
}

.footer .nav-fixed li a p {
    font-size: 11px;
    color: #333;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    text-align: center;
}

.footer .nav-fixed li a:hover {
    text-decoration: none;
}

.footer .nav-fixed li.home a i {
    background: url("../img/shouye.png") no-repeat;
    background-size: contain;
}

.footer .nav-fixed li.course a i {
    background: url("../img/kd.png") no-repeat;
    background-size: contain;
}

.footer .nav-fixed li.chat a i {
    background: url("../img/mn.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.footer .nav-fixed li.article a i {
    background: url("../img/ct.png") no-repeat;
    background-size: contain;
}

.footer .nav-fixed li.current {
    background: #eee;
}
/** 2.0版本 无效补充**/
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/** 手机版ganlan **/
.navbar{
    padding-top:5px;
    min-height:40px;
    background-color: #3498db;
    border: none;
    color:#ffffff;
    
 
}
.navbar-nav>li>a{
    font-size: 1rem;
    color: #fff;
    background: transparent;
}
.dantiao{
    line-height:24px;
    
 
}
.maring-top-8{
	margin-top:8px;
}
